#main-home-window{
    display: grid;
    grid-template-columns: 250px 1fr;
    scroll-snap-type: none;
    

}
#middle-container{
    display:grid;
    grid-template-rows: 50px 1fr;
}
#main-container{
    display: grid;
    grid-template-columns: 1fr 250px ;
}
#top-performer{
    height: 70rem;
}
#NoticeBoard{
    width: 100rem;
}
#middle-left::-webkit-scrollbar {
    display: none;
  }
  #top-performer::-webkit-scrollbar {
    display: none;
  }