.fontColorBlue{
    color:#1976d2;
} 
.bGcolor{
    color: #1976d2;
} 
.bGcolor:hover{
    background-color :#1976d2; 
    color: white; 
} 
.textHeadSize{
   font-size: 30px;
} 
.bg-blue{
    background-color: #1976d2;
}